textarea {
	width: 600px;
	height: 200px;
}

.main-section button {
	background-color: #4aaaa5;
	border: none;
	width: 6em;
	height: 1.5em;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	color: white;
	font-size: large;
}

.main-section form {
	padding-top: 20px;
}

.main-section a:link {
	color: none;
}

.main-section a:visited {
	color: none;
}

.main-section a:hover {
	background-color: grey;
}

.main-section a:focus {
	background-color: grey;
}

.main-section a:active {
	background-color: grey;
}

/* contact @media queries */

@media screen and (max-width: 980px) {
	textarea {
		width: 255px;
	}
}

@media screen and (max-width: 768px) {
	textarea {
		width: 525px;
	}
}

@media screen and (max-width: 640px) {
	textarea {
		width: 100%;
		min-width: 320px;
		max-width: 525px;
	}
}