.header {
    position: fixed;
    width: 100%;
    display: inline-block;
    z-index: 1;
}

.header {
  background: #c1cad8;
}

.header ul {
  list-style: none;
  margin: 0;
}

.header ul li {
  display: inline-block;
  padding: 0 20px;
}

.header ul li a {
  color: rgba(0,0,0,.65);
  font-size: 14px;
  text-decoration: none;
}

.header ul li a.active {
  color: #108ee9;
}

/*#components-layout-app-fixed .logo {
    background-image: url("./img/pencilsketch.png");
}*/